<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.budgetapp.budgetapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BudgetActivity"
            android:label="@string/title_activity_budget"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ExpensesActivity"
            android:label="@string/title_activity_expenses"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".PaymentsActivity"
            android:label="@string/title_activity_payments"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".BudgetEntryActivity"
            android:label="@string/title_activity_budget_entry"
            android:parentActivityName=".BudgetActivity" >
        </activity>
        <activity
            android:name=".ExpensesEntryActivity"
            android:label="@string/title_activity_expenses_entry"
            android:parentActivityName=".ExpensesActivity" >
        </activity>
        <activity
            android:name=".PaymentsEntryActivity"
            android:label="@string/title_activity_payments_entry"
            android:parentActivityName=".PaymentsActivity" >
        </activity>
        <activity
            android:name=".PaymentsDepositActivity"
            android:label="@string/title_activity_payments_deposit" >
        </activity>
    </application>

</manifest>
